<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.flyme">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
	<application android:label="FlyMe.Android">

    <activity android:name="sdk.pendo.io.activities.PendoGateActivity" android:launchMode="singleInstance">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="pendo-81d83b01"/>
      </intent-filter>
    </activity>
    
  </application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>